/* ----CSS Reset Styles---- */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* ----Navigation Styles---- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B7A78;
    min-height: 10vh;
    font-size: 20px;
    color: #DEF2F1;
    text-transform: uppercase;
    padding: 0px 10px;
}

.links {
    color: #DEF2F1;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.links a {
    color: #DEF2F1;
}

.links a:hover {
    font-weight: 600;
    transition: ease 0.3s;
}

.icon {
    display: none;
}

.icon div {
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #DEF2F1;
}

span {
    text-shadow: 3px 2px 2px #17252A;
}

/* ----Content Styles---- */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

section {
    width: 95%;
    line-height: 25px;
    Margin: 5px;
    padding: 10px;
    background-color: #DEF2F1;
}

section h2 {
    font-size: 18px;
    color: #3AAFA9;
    font-weight: 600;
    letter-spacing: 3px;
}

hr {
    background-color: #FEFFFF;
    border-color: #FEFFFF;
    width: 95%;
    margin-bottom: 10px;

}

.devphoto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 150px;
    float: left;
}

.contact {
    color: #DEF2F1;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
}

.contact a {
    color: #17252A;
    padding: 5px;
}

.contact a:hover {
    color: #DEF2F1;
    background-color: #2B7A78;
    transition: ease 0.3s;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* -----Media Queries---- */

@media screen and (max-width:650px) {
    .links {
        position: absolute;
        right: 0px;
        height: 7vh;
        width: 100%;
        top: 10vh;
        background-color: #2B7A78;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    body {
        overflow-x: hidden;
    }
    .devphoto {
        width: 25%;
    }    
    
    .links li {
            opacity: 1;
        }
        .icon {
            display: block;
        }
        .icon-active {
            transform: translateX(0%);
        }
    }